

  .cardwrapper {
    display: "block";
    height: "0px";
  }


    .cardWrapper{
      display: flex;
      background-color:burlywood;
      height: 300px;
      border-radius: 5px;
      flex: 1;
      margin-top: -70px;
      width: 100%;
    }

    .imgWrapper{
flex: 0.65;
      width: "700px";
      object-fit: "contain";
      border-radius: "5px";
      /* background-image: url(${Images.banner} */
      /* /* : `url(${Images.banner})`; */
      background-size: "cover";
      background-position: "center"; 
    }

    @media (max-width: 767px) {
          .cardWrapper{
               display: "flex";

          }

    }

